<footer class="footer">
    <small>
        <%i = Asking.first.high_score%>
        <%="High Score:" +i.to_s%>
    </small>
    <nav>
        <ul>
            <a href="https://www.facebook.com/">FaceBook</a>
            <a href="https://au.linkedin.com/">LinkedIn</a>
            <a href="https://twitter.com/">Twitter</a>
        </ul>
    </nav>
</footer>