<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="row">
        <div class="column"><h2>Quiz+</h2></div>
        <div class="column"><h2>William Furler</h2></div>
        <div class="column"><h2>s3848792@student.rmit.edu.au</h2></div>
    </div>
</header> 