<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <h2>Quiz+</h2>
            <li><%= "William Furler"%></li>
            <li><%= "s3848792@student.rmit.edu.au"%></li>
            </ul>
    ></div>
</header> 